<!DOCTYPE html>

<html>

<head>
    <title>WaterMe</title>
</head>

<body background="images/plantas.jpg" >
    
<p style="font-size:2em; color:white; text-align:center;">Jacobs Hack2022</p>
<h1 style= "font-size:4rem; background-color:rgb(79, 180, 79); color:rgb(0, 0, 0); text-align: center;">Go Green</h1>
<h2 style= "font-size:2em; background-color:green; color:rgb(0, 0, 0); text-align: center;">Welcome to our Project</h2>
<p style="font-size:6em; color:greenyellow; text-align:center">Water</p>


 <h3 style="font-size:3em; color:black; text-align:left">Whatsapp</h3> <h3 style="font-size:3em; color:black; text-align:right">Water</h3>
 <a href="https://es.wikipedia.org/wiki/WhatsApp">
    <img src="images/W.png" height="300" > <img src="images/G.png" height="300">
    <img src="images/PT.png" height="300"> 
 </a>
 
 <h4 style="font-size:2em; color:aqua">Hola</h4><h4 style="font-size:2em; color:blue; text-align: right;">Hola</h4>

 <h1>Hello World</h1>
 <hr> <!--Make a line -->
 <h2>Hello World</h2>
 <br> <!--Make space-->
 <br>
 <h3>Hello World</h3>
 <h4>Hello World</h4>

 <a href="page2.html"> <!--Create Hyperlink "Refer to the hyperlink"-->
    Next Page <!--Button for the hyperlink-->
 </a>




<h3>Ordered List</h3>
<ol>
    <li>Select the Plant</li>
    <li>Insert the sensor inside the plant</li>
    <li>Enter to the website</li>
    <li>Wait for the result</li>
</ol>

<audio controls > <!--Creat sound button, extra decide if autoplay or not-->
    <source src="LaPlanta.mp3"> <!--Select the source-->
</audio>




</body>
</html>


 