<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="HTML, CSS" />
    <meta
      name="description"
      content="Know the status of your plants and when to water them"
    />
    <title>WaterMe</title>
    <body background="images/FV.jpg" >
    <p style="font-size:2em; color:rgb(0, 0, 0); text-align:center;">Jacobs Hack2022</p>
<h1 style= "font-size:4rem; color:rgb(255, 255, 255); text-align: center;">Go Green</h1>
<h2 style= "font-size:2em; color:rgb(0, 0, 0); text-align: center;">Welcome to our Project</h2>

    <style>
      h1 {
        color: white;
        text-align: center;
        font-size: 50px;
      }

      h3 {
        color: white;
        text-align: center;
        font-size: 50px;
      }
      img {
        text-align: center;
        height: 7em;
        margin-top: 10px;
        background-color: white;
      }
      h2 {
        font-size: 25px;
      }
    </style>
  </head>
  <body>
    <h1>WaterMe</h1>
    <h3></h3>
    <h3><img src="images/FOTON.png" alt="Logo" /></h3>
    <h2>Data</h2>
    <p>...</p>
    <h2></h2>
<img src="images/PT.png" height="200">
<img src="images/S1.png" aling="left">
  </body>
</html>