<!DOCTYPE html>

<html>

<head>
    <title>WaterMe</title>
</head>

<body background="images/plantas.jpg" >
    
    <p style="font-size:2em; color:white; text-align:center;">Jacobs Hack2022</p>
    <h1 style= "font-size:4rem; background-color:rgb(79, 180, 79); color:rgb(0, 0, 0); text-align: center;">Go Green</h1>
    <h2 style= "font-size:2em; background-color:green; color:rgb(0, 0, 0); text-align: center;">Welcome to our Project</h2>
    <p style="font-size:6em; color:greenyellow; text-align:center">Water</p>
    
    
    
     <h4 style="font-size:2em; color:aqua">Welcome</h4>
    
    
    <ol>
        <li>Select the Plant</li>
        <li>Insert the sensor inside the plant</li>
        <li>Enter to the website</li>
        <li>Wait for the result</li>
    </ol>

    <div class="container">
        <div class="row">
            <div id="sensor">

                <h1>Sensor Reading</h1>
                Temperature in Celcius: {{temperature_c}} <br>
                Temperature in Fahrenheits: {{temperature_f}} <br>
                Humidity: {{humidity}}
            </div>



</body>
</html>


 